@{
    ViewData["Title"] = "Home Page";
}

<!-- Criar um link para a pagina de cadastro de produto-->
<a class="btn btn-outline-danger" asp-controller="produto" asp-action="cadastrar"> Produto </a>
<!-- Criar um link para a pagina de cadastro de usuario-->
<a class="btn btn-outline-dark" asp-controller="usuario" asp-action="cadastrar"> Usuario</a>
<!-- Criar um link para a pagina de cadastro de produto-->
<a class="btn btn-outline-warning" asp-controller="pedido" asp-action="cadastrar"> Pedido</a>