@model Produtora

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastro de Produtora</h1>

<form asp-action="cadastrar">

    <partial name="_Form" />

    <input type="submit" value="Cadastrar" class="btn btn-primary" />

</form>

